@font-face {
    font-family: Bisdak;
    src: url("/css/fonts/Bisdak.tff");
    src: url("/css/fonts/Bisdak.ttf") format("truetype"),
         url("/css/fonts/Bisdak.eot") format("woff"),
         url("/css/fonts/Bisdak.woff") format("embedded-opentype"),
}

@font-face {
    font-family: Proxima Nova;
    src: url("/css/fonts/Proxima Nova.ttf");
    src: url("/css/fonts/Proxima Nova.ttf") format("truetype"),
}

/* 
:root::-webkit-scrollbar{
    display: none;
} */
  
/* :root {
    -ms-overflow-style: none;
} */

::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
  }

:root {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    /* background: linear-gradient(50deg, #ECECEC 60%,  #2C2C2C ); */
    background: #ECECEC;
    width: 100%;
    margin: 20px 0;
    min-width: 320px;
    color: #2E2E2E;
}

main, article {
    width: 95%;
    margin: 0px auto;
}

/* MENU */

#menu {
    margin-top: 2rem;
    padding-bottom: 10px;
    text-align: center;
    font-family: Bisdak;
    text-transform: uppercase;
}

#menu a {
    text-decoration: none;
    font-weight: bold;
    color: #2E2E2E;
}

#menu a:hover {
    color: #C39756;
    transition: 0.35s;
}
/* 
#menu button {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 35px;
    height: 35px;
    border-radius: 35px;
    border: 2px solid #2E2E2E;
    background-color: #2E2E2E;
    color: #ECECEC; 
    animation-iteration-count: infinite;
    animation-name: rotation;
} */

/* #menu button:hover {
    color: #2E2E2E;
    background-color: transparent;
    transition-property: border background-color color;
    transition:step-end;
    transition: 2s;
} */

@keyframes rotation {
    from {
        rotate: 0deg;
    }
    to {
        rotate: 360deg;
    }
}


/* FOOTER */

.foot-class {
    display: flex;
    flex-direction: column;
    min-height: calc(27vh - 95px);
}

footer {
    flex: 1;
    width: 100%;
    bottom: 0;
    position: fixed;
    background-color: #2E2E2E;
    padding: 20px;
}

footer p {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-size: 12px;
    color: #ECECEC;
}

footer a {
    color: #C39756;
    text-decoration: none;
}


/* CLASSES = DECORATION */

.selected, .selected button:hover{
    color: #C39756 !important;
    background-color: #2E2E2E !important;
}